Input {
  overflow: hidden !important;
  list-style: none !important;
}

.myInput {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
}

.myInput:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.myInput:focus {
  border-bottom: 2px solid rgb(38, 0, 255);
}
